/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem; 
}


.botao-pesquisar{
  margin-right:10px;
}

.botao-menu-lateral{
  color:white;
  background-color: #d81c1e;
  font-weight: bolder;
  margin-bottom: 15px;
}




.titulo-pagina{
  margin-bottom: 20px;
}

.paginacao{
  font-size:20px;
}


.listagem-checkbox{
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}



/*
 * Typography
 

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;

}

/*
 * Sidebar
 */

.menu-lateral-salao {
  background: #0e0e0e;
  position: unset;
  z-index: 1000;
  bottom: 0;
  top: 51px;  
}




.menu-lateral-salao  .nav {
  margin-bottom: 20px;
}


.menu-lateral-salao .nav-item {
  width: 100%;
}

.menu-lateral-salao .nav-item + .nav-item {
  margin-left: 0;
}

.menu-lateral-salao .nav-link {
  border-radius: 0;
}



.show-atendimento{
  font-size:12px;
}

@media (min-width: 666px){
  .show-atendimento{
    font-size:initial;
  }
}





@media (min-width: 1066px){
.navbar-expand-md { 
    flex-flow: row nowrap;
    justify-content: flex-start;
}

}








@media (min-width: 580px) {
  
  .menu-lateral-salao {
    background: #0e0e0e;
    position: fixed;
    z-index: 1000;
    padding: 20px 0;
    bottom: 0;
    
    top: 51px;
      
    }
  
  .d-sm-block {
      display: block!important;
  }
  }












.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 0px;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.nav-pills .nav-link.active{
  background-color: #167104;
}

/*
.nav-pills .nav-link{
  color: black;
}
*/

ul.pagination li {
  padding-right: 15px;
}

hr {
  margin-top: 8px;
   margin-bottom: 8px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.btn-atendimento{
  padding: 2px;
}


.card-body {
 
   padding: 0.4rem; 
}